.navbar {
    background-color: #030108;
    padding: 1rem 0;
    width: 100vw;
    margin: 0;
    left: 0;
    top: 0;
    position: fixed;
    box-sizing: border-box;
    z-index: 1000;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.Link {
    color: #e84904;
    margin: 0 1.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    transition: color 0.2s;
}

.Link:hover {
    color: #0da6b4;
}